@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-geist-sans: 'Geist', sans-serif;
}

body {
  font-family: var(--font-geist-sans);
  font-weight: 400; /* font-normal */
  background-color: #FAFAFA;
  color: #171717;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500; /* font-medium */
}

/* Запрет на font-bold и font-semibold */
.font-bold,
.font-semibold {
  font-weight: 500 !important; /* Принудительно заменяем на font-medium */
}
